<link rel="stylesheet" href="~/css/perfil.css">

 <main>
        <div>
            <!--Formulário-->
            <form id="formulario" class="estilo-formulario">

                <img src="../images/logo-devconnect-lg.svg" alt="imagem logotipo grande">
                <p class=""> Cadastre-se para comunidade
                    exclusiva para desenvolvedores(as).</p>
    
                <div>
                    <label for="">Nome e Sobrenome:</label>
                    <input type="text">
                </div>
    
                <div>
                    <label for="">Nome de usuário:</label>
                    <input type="text">
                </div>
    
                <div>
                    <label for="">E-Mail:</label>
                    <input type="email">
                </div>
    
                <div>
                    <label for="">Senha:</label>
                    <input type="password">
                </div>
    
                <div>
                    <label for="arquivo" class="botao-upload">Faça upload da sua imagem aqui...</label>
                    <input type="file" id="arquivo">
                </div>
    
                <button type="submit" class="formulario-botao">Cadastrar-se</button>
    
                <p>Ao se cadastrar, você concorda com nossos  
                    Termos, Políticas de Dados e Políticas de Cookies</p>
            </form>

            <section id="conectar" class="estilo-formulario">
                <p>Tem uma conta? <a href="../pages/index.html">Conect-se</a></p>

            </section>

        </div>
    </main>