@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Nossa política de privacidade é assim, assim e assado!.</p>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis ipsum ducimus obcaecati sint temporibus aspernatur earum accusantium, aliquam deleniti pariatur quas sequi quia qui vero eaque esse autem et laboriosam!</p>
