<h1>Página Quem Somos</h1>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores eius ipsam nam quidem, rerum optio, cumque tenetur voluptatem dicta saepe nulla sunt ut reprehenderit deserunt ad fugit earum commodi. Vero!</p>

<a asp-controller="Home" asp-action="Index">Voltar pra Home</a>