<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DevConnectTorloni</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/global.css">
</head>
<body>

    @* Desenha todo o html view chamada, aqui dentro *@
    @RenderBody()

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>