@model List<CadAlunoTorloni.Models.Aluno> 


<h1>Alunos</h1>

@foreach(var aluno in Model){
    <p>
        <strong>Id:</strong> @aluno.Id;
        <strong>Nome:</strong> @aluno.Nome; 
        <strong>Idade:</strong> @aluno.Idade
    </p>
}